/*Estilo para todo el documento*/

/* Fuentes globales */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Open+Sans:wght@400;600&family=Poppins:wght@400;600&display=swap');

body {
    margin: 0;
    padding: 0;
    background: #ECF0F1 ;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    width: 100%;
    height: 100%;
    margin: auto;
}

/*Estilo para la imagen arriba*/
#logo {
    background: #2C3E50  ;
    display: inline-flex;
    width: 100%;
    text-transform: uppercase;
}

/*Estilo para la etiqueta a incluida en H1*/
#logo h1 a {
    margin: 0em;
    padding: 0;
    letter-spacing: -.1em;
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
    color: #FFFFFF ;
}

#titulo{
    text-align: center;
    align-items: center;
    padding: 2%;
    width: 60%;
}

/*Reserva espacio para tus eventos y vive la experiencia en la Universidad de Pamplona*/
#subtitulo {
    padding: 0em;
    margin-top: 5%;
    font-size: 1.5em;
    color: #FFFFFF ;
}

#c_logotipo1{
    margin:2%;
    text-align: center;
    width: 20vw;
}

#logotipo1{
    width: 70%;
    height: 90%;
}

#c_logotipo2{
    margin:2%;
    text-align: center;
    width: 20vw;
}

#logotipo2{
    width: 250px;
    height: 200px;
}

#menu {
    display: flex;
    background: #2C3E50;
    /* Usamos flexbox para alinear elementos */
    justify-content: space-between;
    /* Espacio entre los elementos */
    align-items: center;
    /* Alinea verticalmente los ítems */
    margin-bottom: 20px;
}

#menu li {
    display: inline-block;
    font-size: 11px;
}

/*Etiquetas a del nav*/
.a-pagina {
    display: block;
    float: left;
    margin-right: 1em;
    padding: 1em 1em;
    box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    font-size: 1.5em;
    color: #FFFFFF;
}

/*Etiquetas a del nav al pasar el mouse*/
.a-pagina:hover{
    box-shadow: inset 0px -2px 0px 0px rgb(255, 255, 255);
}   

#BotonSecion {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    padding: 2px;
    margin: 10px;
}

.nombre {
    display: block;
    width: 80%;
    float: right;
    text-align: right;
    line-height: 100px; /* La misma altura que el contenedor */
    height: 100px;      /* Asegura que haya suficiente espacio */
  }
  

.inicio{
    width: 3em;
}

#BotonSecion:hover {
    transform: scale(1.05);
}

#BotonSecion a {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#BotonSecion img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.InicioSecion {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    /* Para que contenga los elementos flotantes */
    text-align: center;

}

.InicioSecion label {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.InicioSecion input {
    width: 20%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

#BotonPerfil{
    display: inline;
    margin: 5em;
}

#cont_perfil{
    display: flex;
    height: 20em;
    justify-content: center;
    align-items: center;
}

#BotonPerfil a{
    width: 18%;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

#BotonRegistro a {
    display: inline-block;
    width: 18%;
    padding: 11px;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #474747;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

#BotonRegistro a:hover {
    background-color: #0056b3;
    border-color: #545454;
}


#formulario {
    width: 30%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    /* Para que contenga los elementos flotantes */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

#formulario label {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin: 50px;
}

#formulario input {
    margin-bottom: 10px;
    font-size: 16px;
}

/*Estilo para la sección los servicios*/
#seccionServicios {
    width: 1150px;
    padding: 20px 40px;
    background: #FFF;
    height: 280px;

}

/*Estilo para la imagen que se encuentra dentro de la sección*/
#imagen {
    width: 380px;
    height: 200px;

}

/*Estilo para el título dentro de la sección*/
#subtitulo2 {
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 25px;
    color: #039;
}

/*Estilo para el texto del lado derecho*/
.ladoderecho {
    margin: -5px 0px 20px 5px;
    float: right;
    width: 65%;
    text-align: justify;
    color: #666;
}

.ladoderecho p{
    color: #111111;
}

/*Estilo para el pie del documento */
#pie {
    display: inline-block;
    width: 100%;
    height: 40%;
    background: #34495E ;
    text-align: center;
    margin-top: 20px;
}

/*Estilo para todo los párrafos del documento*/
p {
    color: #FFFFFF  ;
    font-size: 11pt;
}

/*Estilo para el texto mostrado en el lado izquierdo NOSOTROS*/
.ladoizquierdo {
    margin: -5px 20px 0px 0px;
    float: left;
    width: 65%;
    font-size: 11px;
    text-align: justify;
    color: #666;
}

.ladoizquierdo p{
    color: #111111;
}

/* */
#columna {
    margin: -5px 20px 0px 0px;
    float: left;
    width: 30%;
    color: #666;
}

#seccionextensa {
    width: 1050px;
    padding: 20px 40px;
    background: #FFF;
    height: auto;
}

#centrado {
    text-align: center;
}



.seccion {
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    /* Para que contenga los elementos flotantes */
}

#subtitulo1 {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 30px;
    color: #039;
}

.correo{
    display: flex;
    width: 30vw;
}

#correo{
    margin: auto;
    width: 200px;
    height: 200px;
}

#user-info{
    padding: 20px;
}

/*Pagina Agenda*/
.cont-calendar{
    display: flex;
    margin: auto;
    width: 80%;
}

.calendar{
    float:left;
    margin-left: 20px;
    width: 40%;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.controls {
    margin-bottom: 10px;
}

.dropdown {
    margin: 0 5px;
    padding: 5px;
    font-size: 16px;
}

#calendarDays {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 columnas, una para cada día de la semana */
    gap: 5px; /* Espacio entre los días */
    justify-items: center; /* Centrar los elementos en cada celda */
    margin-top: 10px;
}

.day {
    width: 50%;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f4f4f4;
    cursor: pointer;
}

.day:hover {
    background-color: #ddd;
}

#calendarTitle{
    text-align: center;
}

.holiday {
    background-color: #002fff;
    color: #f4f4f4;
    cursor:not-allowed;
}

.sunday {
    cursor: not-allowed;
    color: #f4f4f4;
    background-color: rgb(108, 108, 108);
  }

  .title{
    text-align: center;
  }

  #label{
    display: block;
    margin-bottom: 0.5em;
    font-size: 1.5em;
  }
  
  .close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  #clearForm {
    background-color: #f0f0f0;
    color: #000;
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 5px 10px;
  }
  
  #saveForm {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #0056b3;
    cursor: pointer;
    padding: 5px 10px;
  }

#startHour{
    margin-right: 2px;
}

.reservation-form {
    width: 40%;
    margin-left: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    position: relative;
  }

  #saludo{
    display: flex;
    background: #2C3E50;
    /* Usamos flexbox para alinear elementos */
    justify-content: space-between;
    /* Espacio entre los elementos */
    align-items: center;
    /* Alinea verticalmente los ítems */
    margin-bottom: 20px;
  }

  #saludo h2{
    margin: auto;
    margin-bottom: 20px;
    color: white;
    display: block;
  }

.inicio{
    display: block;
    list-style-type: none;
}

.cont_reserva{
    display: flex;
    justify-content: center;
}

.cont_reserva table{
    font-size: 15px;
    border-collapse: collapse;
}

.cont_reserva table, 
.cont_reserva th, 
.cont_reserva td {
    border: 1px solid black; /* Aplica un borde de 1px sólido de color negro */
}

.cont_reserva th, 
.cont_reserva td {
    padding: 8px; /* Añade un poco de espacio dentro de las celdas */
    text-align: center; /* Alinea el texto a la izquierda */
}

.t_reserva{
    text-align: center;
}

.estilo_btn{
    background-color: #474747; /* Fondo azul brillante */
    color: white; /* Color de texto blanco */
    border: none; /* Sin borde por defecto */
    padding: 12px 20px; /* Espaciado dentro del botón */
    font-size: 15px; /* Tamaño de texto adecuado */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Aparece un cursor de mano al pasar el ratón */
    transition: all 0.3s ease; /* Transición suave para los efectos de hover */
}

.estilo_btn:hover {
    background-color: #0056b3; /* Cambia a un tono más oscuro cuando se pasa el ratón */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade sombra suave al pasar el ratón */
}

.label{
    font-size: 15px;
}